{% extends './layout/standard.html' %}

{% block headJS %}
<script type="text/javascript" src="/js/libs/knockout-2.2.1.debug.js"></script>
{% endblock %}

{% block headCss %}
	<link rel="stylesheet" type="text/css" href="/stylesheets/editConfig.css">
{% endblock %}

{% block mainContent %}

<h1>{{title}}</h1>
<div>
	<div data-bind="foreach: states, css:{unsaved:hasUnsavedChanges}">
		<article class="state" data-bind="css:{editing:isEditing}">
			<div class="display-view">
				<span data-bind="text:name, click:edit"></span>
			</div>
			<div class="editing-view">
				<input data-bind="value:name">
				<div class="conditions-editing-view" data-bind="with:conditions">
					<div>
						<select data-bind="value: conditionsMode">
							<option value="none">No Conditions</option>
							<option value="events">Events to enter and exit</option>
							<option value="state">Active while stateful conditions are true</option>
						</select>
					</div>
					<div data-bind="visible:eventDriven">
						<div data-bind="with:enter">
							<span>Enter on: </span><input data-bind="value:json">
						</div>
						<div data-bind="with:exit">
							<span>Exit on: </span><input data-bind="value:json">
						</div>
					</div>
					<div data-bind="visible:stateDriven">
						State editing stuff
					</div>
				</div>
				<button data-bind="click:stopEditing">Done</button>
			</div>			
		</article>
	</div>
	<div>
		<input placeholder="name" data-bind="value:newStateName">
		<button data-bind="click:addNewState">Create New State</button>
	</div>
</div>
<code>
	<pre data-bind="text:currentConfigJSON">
	</pre>
</code>
<button data-bind="click:saveConfig, enable:hasUnsavedChanges">Save Config</button>
<script type="text/javascript">
	var originalConfig = JSON.parse( '{{ config|raw }}' );
</script>
<script type="text/javascript" src="/js/editStateConfig.js"></script>
{% endblock %}
